#btext { font-size: 10pt; color:#000000; font-family:sans-serif; font-style:normal; font-weight:bold; }

#text { font-size: 10pt; color:#000000; font-family:sans-serif; font-style:normal; }

table { font-size: 10pt; color:#000000; font-family:sans-serif; font-style:normal; }

a { font-size: 10pt; font-family:sans-serif; font-style:normal; }
